@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f0c248; 
    text-align: center;
}

p {
    text-indent: 30px;
}

body {
    font-family: 'Risque', cursive;
    background: url('Images/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    width: 1000px;
    min-height: 500px;
    margin: 100px auto;
    background: rgba(0, 0, 0, 0.7);
}

    .header {
        display: flex;
        height: 200px;
        opacity: 0.7;
        border-top: 1px solid #f0c248;
        border-left: 1px solid #f0c248;
        border-right: 1px solid #f0c248;
    }
        .left-title {
            display: flex;
            height: 100%;
            width: 30%;
            background: url('Images/2.jpg');
            background-size: cover;
        }
        .right-title {
            display: flex;
            height: 100%;
            width: 70%;
            background: black;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            color: #f0c248;    
        }

    .nav ul {
        display: flex;   
    }
        .nav li {
            width: 25%;
        }
            .nav li a { 
                display: flex; 
                padding: 20px;
                text-decoration: none;
                color: #f0c248;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                background: black;
                opacity: 0.7;
                transition: background .3s ease;
                border: 1px solid #f0c248;
            }
            .nav li a:hover {
                background: rgba(0, 0, 0, 0);
            }

    .content-wrapper {
        display: flex;  
        border-bottom: 1px solid #f0c248;
        border-left: 1px solid #f0c248;
        border-right: 1px solid #f0c248;
        min-height: 500px;
    }
        .content {
            width: 60%;
            padding: 30px;
            color: white;
            opacity: 0.4;
            text-align: justify;
        }
        .sidebar {
            width: 40%;
            padding: 30px;
            background: url('Images/6.jpg');
            background-size: cover;
            opacity: 0.7;
        }
            .films li {
                margin: 15px 0;
                transition: transform .5s ease;
            }
            .films li:hover {
                transform: translateX(15px);
            }
